@page "/universes"
@using SWNBlazorApp.Data
@using SWNUniverseGenerator.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

<PageTitle>Universes</PageTitle>

@inject ProtectedSessionStorage ProtectedSessionStore
@inject UniverseService UniverseService
@inject Universe CurrentUniverse
@inject IMenuService MenuService

<h1>Universes</h1>

<MudText Typo="Typo.h5">Current Universe: @universeName</MudText>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-Errors="@errors">
                <MudGrid>
                    <MudItem xs="8">
                        <MudTextField T="String" Label="Universe Name" Required="false" @bind-Value="universeName"/>
                    </MudItem>
                    <MudItem xs="2">
                        <MudTextField T="int" Label="Grid X" @bind-Value="gridX"></MudTextField>
                    </MudItem>
                    <MudItem xs="2">
                        <MudTextField T="int" Label="Grid Y" @bind-Value="gridY"></MudTextField>
                    </MudItem>
                    
                    <MudItem xs="4">
                        <MudCheckBox T="bool" Label="Overwrite Existing Universe?" @bind-Checked="overwrite"/>
                    </MudItem>
                    <MudItem xs="4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => CreateUniverse())">Create Universe</MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
            @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12">
        <MudTable Items="@UniverseRows" Hover="true" SortLabel="Sort By" @bind-SelectedItem="selectedUniverse">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Universe List</MudText>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Universe, object>(x => x.Name)">Universe Name</MudTableSortLabel>
                </MudTh>
                <MudTh>Grid Size</MudTh>
                <MudTh>Star Count</MudTh>
                <MudTh>Planet Count</MudTh>
                <MudTh>Ship Count</MudTh>
                <MudTh>Character Count</MudTh>
                <MudTh>Load Universe</MudTh>
                <MudTh>Delete Universe</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Grid">@($"{context.GridX}/{context.GridY}")</MudTd>
                <MudTd DataLabel="StarCount">@GetStarCount(context.Id)</MudTd>
                <MudTd DataLabel="PlanetCount">@GetPlanetCount(context.Id)</MudTd>
                <MudTd DataLabel="ShipCount">@GetShipCount(context.Id)</MudTd>
                <MudTd DataLabel="CharCount">@GetCharCount(context.Id)</MudTd>
                <MudTd><MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => LoadUniverse(context.Id))">Load</MudButton></MudTd>
                <MudTd><MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => DeleteUniverse(context.Id))">Delete</MudButton></MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
</MudGrid>

@if (_createdNew)
{
    <p role="status">Universe Created in @((_end - _start).TotalMilliseconds)ms</p>
}

@code {
    private bool _createdNew;
    private bool overwrite;
    private DateTime _start;
    private DateTime _end;
    private int gridX = 8;
    private int gridY = 10;
    MudForm form;
    String[] errors = {};
    String universeID;
    String universeName;
    String searchString;
    Universe selectedUniverse;
    List<Universe> UniverseRows = new();
    

    protected override async Task OnInitializedAsync()
    {
        UniverseRows = await UniverseService.GetUniverseListAsync();
        MenuService.NotifyChanged();
    }
    
    private int GetPlanetCount(string universeId)
    {
        return UniverseService.GetPlanetCount(universeId).Result;
    }

    private int GetStarCount(string universeId)
    {
        return UniverseService.GetStarCount(universeId).Result;
    }

    private int GetShipCount(string universeId)
    {
        return UniverseService.GetShipCount(universeId).Result;
    }

    private int GetCharCount(string universeId)
    {
        return UniverseService.GetCharCount(universeId).Result;
    }

    private async void CreateUniverse()
    {
        _start = DateTime.Now;
        //TODO: fix
        // Creation creation = CreationService.GetCreationAsync().Result;
        //
        // CurrentUniverse = creation.CreateUniverse(new UniverseDefaultSettings
        // {
        //     Name = universeName,
        //     GridX = 0,
        //     GridY = 0
        // });
        //TODO: fix
        // creation.CreateStars(CurrentUniverse, new StarDefaultSettings());
        // creation.CreatePlanets(CurrentUniverse, new PlanetDefaultSettings());
        // creation.CreateShips(CurrentUniverse, new ShipDefaultSettings());
        // creation.CreateCharacter(CurrentUniverse, new CharacterDefaultSettings());
        // creation.CreateStarMap(CurrentUniverse);

        _end = DateTime.Now;
        _createdNew = true;
        await OnInitializedAsync();
    }
    

    private async void LoadUniverse(String universeId)
    {
        Task<Universe> task = UniverseService.GetUniverseAsync(universeId);
        universeName = task.Result == null ? "None" : task.Result.Name;
        await ProtectedSessionStore.SetAsync("SelectedUniverse", universeId);
        await OnInitializedAsync();
    }

    private async void DeleteUniverse(String universeId)
    {
        await UniverseService.DeleteUniverseAsync(universeId);
        await OnInitializedAsync();
    }

}